# Terraform
.terraform/
*.tfplan
*.tfvars

# Keep terraform.tfstate in repo
# terraform.tfstate
# terraform.tfstate.backup

# Lambda deployment packagesz
*.zip

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Generated config file
src/website/config.js
src/website/js/config.js
